build/*
.cache/*
**/.DS_Store
libs/lib*
.vscode/
build-wsl-release/
tests/CMakeCache.txt
tests/CMakeFiles/
tests/CTestTestfile.cmake
tests/Makefile
tests/cmake_install.cmake
tests/compile_commands.json
tests/libtttplayer.a
tests/tests/

